/* your styles go here */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Hitam dengan opacity 0.9 */
  z-index: 1; /* Pastikan overlay berada di atas gambar latar belakang */
}
